---
const images = ["~/assets/avatar.png"];
import aboutImg from "~/assets/avatar.png";

import { Image } from "astro:assets";
---

<div class="flex">
	<div class="h-14 w-14 flex-none">01</div>
	<div class="w-64 flex-initial">02</div>
	<div class="w-32 flex-initial">03 component</div>
</div>
<Image
	class="flex min-w-[50%] basis-96 flex-col"
	src={aboutImg}
	alt="Avatar logo"
	loading="eager"
	fetchpriority="high"
/>
<!-- <ul>
	{
		images.map((im) => (
			<li>
				<Image src={aboutImg} alt="Avatar logo" loading="eager" fetchpriority="high" />
			</li>
		))
	}
</ul> 

{
	skillsTags.length && (
		<>
			<h2 class="mb-4 flex items-center text-lg font-semibold">SOMETHING</h2>
			<ul class="flex flex-wrap gap-2 text-bgColor">
				{skillsTags.map((tag) => (
					<li>
						<span class="flex items-center justify-center rounded-lg bg-accent p-1">{tag}</span>
					</li>
				))}
			</ul>
		</>
	)
}
-->
