---
import { Image } from "astro:assets";

export interface Props {
	imageList: [{ url: string; alt: string }];
	colnb: number;
}

const { imageList, colnb } = Astro.props;
---

<section>
	<div class="invisible md:grid-cols-2"></div>
	<div class=`grid grid-cols-1 gap-6  md:grid-cols-${colnb}`>
		{
			imageList.map((photo, index) => (
				<Image class="mb-0 mt-0" src={photo.url} width="768" height="439" alt={photo.alt} />
			))
		}
	</div>
</section>
<style>
	section {
		background-color: transparent;
	}
</style>
